Requirements:

Note: Four sample strings were given to us, but the content is in the following data formats:
	- JSON
	- XML
	- URI Queries
	- Array
	

1. The function will be able to identify the format of the input string based on unique identifiers for the sample formats

2. The function will parse transaction data from the input string

3. The function will detect if the string is not in a known format
	
4. The function will support the addition of new formats
-------------------------------------------------------------------------------------------------------------
5. The function will identify the card number, expiry date, and CVV from the parsed data

6. The function will mask the sensitive data by replacing the data with asterisks

7. The function will output in the same format as the input

8. The function will support the masking of additional sensitive data fields
